
.header{
    display: block;
    background-color: black;

}

.navheader1 {
display:inline-block;
background-color: violet;
height:30px;
width:60px;
padding: 10px;
margin-left:5px ;
}
.navheader2 {
    display:inline-block;
    background-color: violet;
    height:30px;
    width:60px;
    padding: 10px;
    margin-left:5px ;
    }
.navheader3 {
        display:inline-block;
        background-color: violet;
        height:30px;
        width:60px;
        padding: 10px;
        margin-left:5px ;
        }
#content {
            background-color: violet;
        }
        .left {
            float: left;
            background-color: violet;
            height:300px;
            width:100px;
            padding: 10px;
            margin-left:5px ;
        }
        .right {
            float: right;
            background-color: blue;
            height:300px;
            width:100px;S
            padding: 10px;
            margin-left:5px ;
        }